<launch>
    <!-- initial pose -->
    <arg name="x_pos" default="-10.0"/>
    <arg name="y_pos" default="-1.5"/>
    <arg name="z_pos" default="0.0"/>
  
    <!-- etc. args -->
    <arg name="map_file" default="$(find omo_r1_navigation)/maps/gazebo_map/map.yaml"/>
    <arg name="local_planner_type" default="dwa"/>

    <!-- launch map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
    <!-- launch amcl for localization -->
    <include file="$(find omo_r1_navigation)/launch/simul/amcl.launch">
      <arg name="initial_pose_x" value="$(arg x_pos)"/>
      <arg name="initial_pose_y" value="$(arg y_pos)"/>
      <arg name="initial_pose_a" value="$(arg z_pos)"/>
    </include>
  
    <!-- launch move base for navigation -->
    <include file="$(find omo_r1_navigation)/launch/simul/move_base.launch"/>

    <!-- scan to point cloud -->
    <include file="$(find laser_geometry)/launch/scan_to_pcl.launch.xml"/>

    <!-- obstacle detector -->
    <include file="$(find obstacle_detector)/launch/demo.launch"/>
  </launch>
  
